@using WebQuanLyCanTin.Models
@{ 
    List<GioHang> gioHang = null;
    ViewBag.DemGioHang = 0;
    ViewBag.TongTien = 0;
    int tongTien = 0;
    int soLuong = 0;
    if(Session["GioHang"] != null)
    {
        gioHang = (List<GioHang>)Session["GioHang"];
        foreach(GioHang sanPham in gioHang)
        {
            tongTien += sanPham.price * sanPham.quantity;
            soLuong += sanPham.quantity;
        }
        ViewBag.TongTien = tongTien;
        ViewBag.DemGioHang = soLuong;
    }

}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/images/logoutc2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fancyBox/source/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/green.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style_frm_dkdn.css" />
    <link rel="stylesheet" href="~/css/switcher.css">
    <title>Quan Ly Can Tin</title>
</head>
<body class="green">
    <style>
      .nav-item.position-relative.login:hover {
            color: white;
            background-color: #779DCA;
        }
        #navbar, .navbar-brand {
            background-color: #779DCA;
        }
        .mau-chinh {
            color: #779DCA;
        }
        .nav.navbar-nav.navbar-right {
            line-height: 50px;
            color: black;
            font-weight: 500;
        }

        .nav-item.position-relative.login {
            color: black;
            font-weight: 500;
        }

        .text-white.font-weight-bold {
            color: black;
        }

        .text-right.text-white.position-relative.login {
            display: flex;
            justify-content: space-between;
            width: 250px;
        }

        .modalRight {
            display: inline-flex;
            margin-left: 536px;
            padding: 0 130px;
            height: 400px;
            width: 800px;
            margin-top: 80px;
            margin-left: 400px;
        }

            .modalRight form {
                margin: auto;
            }

        .col-sm-12.layout-san-pham {
            width: 70%;
        }

        .tim-kiem-san-pham {
            display: flex;
            margin-top: 20px;
        }

        #TimKiem {
            border: 1px solid;
            width: 220px;
            height: 30px;
            margin-left: 20px;
        }

        .btnTimKiem.btn000.ml-3 {
            border: 1px solid;
            background-color: #808080;
            width: 80px;
            margin-left: 10px;
        }

        .list-item a {
            font-size: 18px;
            font-weight: 300;
            color: rgba(0,0,0,0.8);
            text-transform: uppercase;
            margin: 100px 0px;
            margin-left: 30px;
        }

        .tpnam_btn.mb-0.listAll {
            font-size: 20px;
            font-weight: 400;
            color: red;
            text-transform: uppercase;
            margin-left: 30px;
        }

        .col-md-3.right-sanpham {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 88px;
        }

        .menuProduct {
            margin: 70px 0px;
        }

            .menuProduct li {
                border-left: 1px solid;
            }

        .dang-nhap {
            margin: 0 20px;
        }

        .navbar-nav li.nav-item:after {
            background-color: wheat;
        }

        #form-register {
            display: flex;
            justify-content: center;
            border-radius: 10px;
        }

            #form-register form {
                margin-top: 16px;
                background-color: #ccc;
                display: flex;
            }

        .style-register {
            width: 1140px;
            height: 600px;
            align-items: center;
            justify-content: start;
        }

        .form-group.d-flex.align-items-center.dang-ky {
            display: flex;
            max-width: 500px;
            margin: 20px auto;
        }

        .doudle-outline {
            outline-style: auto;
            width: 100%;
            height: 30px;
        }

        .row.dat-hang {
            height: 50%;
            width: 1170px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 99px 366px;
            background-color: #ccc;
        }

        .col-md-7.chi-tiet-san-pham {
            width: 33.33%;
            margin-left: -182px;
        }

        .col-md-5.chi-tiet-san-pham {
            float: right;
        }

        .product-list li .right-block {
            margin: 15px;
        }
        .field-validation-error.text-danger {
            font-size: 14px;
        }
    </style>
    <!-- HEADER -->
    <div id="header" class="header">

        <!-- MAIN HEADER -->
        <div class="container main-header">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 logo">
                    <a href="/Home/Index"><img alt="UTC2" src="~/images/logocantin.png" style="width: 500px; height: 100px;" /></a>
                </div>
                <div class="col-xs-4 col-sm-12 col-md-5 col-lg-4 header-search-box">
                    <form class="form-inline">
                        <div class="form-group input-serach">
                            <input type="text" placeholder="Tìm kiếm ...">
                        </div>
                        <button type="submit" class="pull-right btn-search"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 group-button-header">
                    @*<a title="Compare" href="#" class="btn-compare">Compare</a>
                        <a title="My wishlist" href="#" class="btn-heart">Heart</a>*@

                    <ul class="nav navbar-nav navbar-right">

                        @if (Session["TaiKhoan"] != null)
                        {
                            <li style="width: 250px;" class="text-right text-white position-relative login">
                                <span class="mr-2">Xin chào @Session["User"] </span><span class="text-black hover-dang-xuat" style="text-decoration: none; cursor: pointer; font-weight: 700;">  <a class="text-black" href="/User/DangXuat">ĐĂNG XUẤT</a></span>
                            </li>
                            <li style="width: 250px;" class="text-right text-white position-relative login">
                               <span class="text-black hover-dang-xuat" style="text-decoration: none; cursor: pointer; font-weight: 700;">  <a class="text-black" href="/User/DoiMatKhau">Đổi mật khẩu</a></span>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item position-relative login">
                                <span class="text-white font-weight-bold" style="text-decoration: none; cursor: pointer">
                                    <a href="/User/DangNhap" class="dang-nhap mau-chinh" style="color: black; font-weight: 700;">ĐĂNG NHẬP</a>
                                </span>

                            </li>
                            <li class="nav-item position-relative login">
                                <span class="text-white font-weight-bold" style="text-decoration: none; cursor: pointer">
                                    <a href="/User/DangKy" class="dang-ky mau-chinh" style="color: black; cursor: pointer; font-weight: 700;"> ĐĂNG KÝ</a>
                                </span>
                            </li>
                        }
                    </ul>
                    @*<div class="btn-cart" id="cart-block">
                            <a title="SignIn" href="" data-toggle="modal" data-target="#myModal">Log In</a>


                        </div>*@
                </div>
            </div>
        </div>
        <!-- END MANIN HEADER -->
        <div id="nav-top-menu" class="nav-top-menu">
            <div class="container">
                <div class="row">

                    <div id="main-menu" class="col-sm-12 main-menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="/Home/Index">MENU</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/Home/Index"><span class="fa fa-home"></span> Trang Chủ</a></li>
                                        <li class="dropdown">
                                            <a href="/Product/SanPhamPartial" class="dropdown-toggle"
                                               data-toggle="dropdown">Sản phẩm</a>
                                            <ul class="dropdown-menu container-fluid">
                                                <li class="block-container">
                                                    <ul class="block">
                                                        <li class="link_container"><a href="/Product/DoAnSang">Đồ ăn sáng</a></li>
                                                        <li class="link_container"><a href="/Product/DoAnVat">Đồ ăn vặt</a></li>
                                                        <li class="link_container"><a href="/Product/DoUong">Đồ uống</a></li>
                                                        <li class="link_container"><a href="/Product/Khac">Khác</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--<li><a href="#">Promotion</a></li>-->
                                        @*<li><a href="news.html">News</a></li>
                                            <li><a href="policy-faq.html">Policy & FAQ</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="contact-us.html">Contact Us</a></li>*@
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- userinfo on top-->
                <div id="form-search-opntop">
                </div>
                <!-- userinfo on top-->
                <div id="user-info-opntop">
                </div>
                <!-- CART ICON ON MMENU -->
                <div id="shopping-cart-box-ontop">
                    @*<ul>

                            @if (Session["TaiKhoan"] != null)
                            {
                                <li style="width: 250px;" class="text-right text-white position-relative login">
                                    <span class="mr-2">Xin chào @Session["User"] </span><span class="text-white" style="text-decoration: none; cursor: pointer;">  <a href="/User/DangXuat">ĐĂNG XUẤT</a></span>


                                </li>
                            }
                            else
                            {
                                <li class="nav-item position-relative login">
                                    <span class="text-white font-weight-bold" style="text-decoration: none; cursor: pointer">
                                        <a href="/User/DangNhap" class="dang-nhap" style="color: black;">Login</a>
                                    </span>

                                </li>
                                <li class="nav-item position-relative login">
                                    <span class="text-white font-weight-bold" style="text-decoration: none; cursor: pointer">
                                        <a href="/User/DangKy" class="dang-ky" style="color: black; cursor: pointer"> Logout</a>
                                    </span>
                                </li>
                            }
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- Home slideder-->
    @RenderBody()

    <!-- END Home slideder-->
    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-shopping-cart">
            <span class="notify notify-left" id="count-cart">@ViewBag.DemGioHang</span>
        </div>
        <div class="form_holder">
            <div class="cart-block">
                <div class="cart-block-content">
                    <div class="cart-block-list">
                        <div class="shop_cart">
                            <table class="shop_table">
                                <tbody id="show-cart">
                                    @if (Session["GioHang"] != null)
                                    {

                                        foreach (GioHang sanPham in (List<GioHang>)Session["GioHang"])

                                        {

                                            <tr class="cart_item">
                                                <td> <a href="@Url.Action("XoaGioHang", "Home", new {maSP = sanPham.SanPham.IDSP})"><div class="bt_remove_product left" data-product-code="BB0927"></div></a></td>
                                                @*<td class="product-remove"><div class="bt_remove_product left" data-product-code="BB0927">  </div></td>*@
                                                <td class="product-name">
                                                    <b>@sanPham.name</b><div class="clr"></div><div class="box_quantity left">
                                                        <div class="quantity right">
                                                            @using (Html.BeginForm("CapNhatSoLuong", "Home"))
                                                            {

                                                                <input type="hidden" value="@sanPham.SanPham.IDSP" name="MaSP" />
                                                                @*<input class="bt_minus" type="button" value="-" data-product-code="BB0927">*@
                                                                <input type="number" name="SoLuong" value="@sanPham.quantity" title="Qty" class="input-text qty text product_qty" size="4" min="1" max="100">
                                                                <input class="bt_plus" type="submit" value="Update" data-product-code="BB0927" style="width: auto; background-color:#779DCA ; text-transform: none;">
                                                            }

                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-price" valign="top"><span class="amount">@(string.Format("{0:#,##0}", sanPham.quantity * sanPham.price))</span></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="toal-cart">
                        <span>Tổng tiền</span>
                        <span class="toal-price pull-right" id="total_price">@(string.Format("{0:#,##0}", tongTien))</span>
                    </div>
                    <div class="cart-buttons">
                        <a href="/Home/XemGioHang" class="btn-check-out">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" style="position: relative; height: 300px; display: flex; justify-content: center;">
        <div class="container" style="position: absolute;">
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box" style="margin: -15px;">
                        <a href="/Home/Index"><img src="@Url.Content("~/images/logoutc2.png")" alt="logo" width="100" ; height="100" /></a>

                        <div id="address-list">
                            <div class="tit-name">Địa chỉ</div>
                            <div class="tit-contain">450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Tp. Thủ Đức (Quận 9 cũ), TP. Hồ Chí Minh.</div>
                            <div class="tit-name">SĐT:</div>
                            <div class="tit-contain">(028).3896.6798 - (028).7300.1155</div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain">banbientap@utc2.edu.vn</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1164.9912641206681!2d106.79455220436219!3d10.845867883957776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527158a0a5b81%3A0xf45c5d34ac580517!2zUEjDgk4gSEnhu4ZVIFRSxq_hu5xORyDEkEggR1RWVCBU4bqgSSBUUC4gSOG7kiBDSMONIE1JTkg!5e0!3m2!1svi!2s!4v1622971174841!5m2!1svi!2s" width="550" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">ĐĂNG KÝ ĐỂ NHẬN NHỮNG THÔNG TIN MỚI NHẤT</div>
                        <div class="input-group" id="mail-box">
                            <input type="text" placeholder="Email của bạn" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ok</button>
                            </span>
                        </div>
                        <div class="introduce-title">Theo dõi</div>
                        <div class="social-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="social-link">
                            <ul class="social-icons">
                                <li><a class="rss" data-original-title="rss" href="#"></a></li>
                                <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                                <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                                <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                                <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                                <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                                <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                                <li><a class="skype" data-original-title="skype" href="#"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            @*<div id="footer-menu-box">
                    <p class="text-center">Copyrights &#169; 2021 Quản Lý Căn Tin.</p>
                </div>*@
        </div>
    </footer>

    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script type="text/javascript" src="~/lib/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/lib/fancyBox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 3000,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                300: {
                    items: 3
                },
                700: {
                    items: 5
                }
            }
        });
        $(".owl-prev").html('<i class="fa fa-chevron-left"></i> ');
        $(".owl-next").html('<i class="fa fa-chevron-right"></i>');
    </script>
    <script type="text/javascript" src="~/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="~/js/theme-script.js"></script>
    @*<script type="text/javascript" src="~/js/shoppingCart.js"></script>*@
    @*<script type="text/javascript" src="~/js/layout.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetThanhToan = $("." + inputValue);
                $(".anClass").not(targetThanhToan).hide();
                $(targetThanhToan).show();
            });

            $("#showPass").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#matKhau").attr("type", "text");
                } else {
                    $("#matKhau").attr("type", "password");
                }
            });
            /* Layout.init();*/
            //  Layout.initOWL();
            //  Layout.initTwitter();
            ///*  Layout.initImageZoom();*/
            // /* Layout.initTouchspin();*/
            //  Layout.initUniform();
            //  Layout.initSliderRange();
            /*$(".owl-carousel").owlCarousel();*/

        });
        jQuery('#demo_changer .demo-icon').click(function () {

            if (jQuery('.demo_changer').hasClass("active")) {
                jQuery('.demo_changer').animate({
                    "right": "-300px"
                }, function () {
                    jQuery('.demo_changer').toggleClass("active");
                });
            } else {
                jQuery('.demo_changer').animate({
                    "right": "0px"
                }, function () {
                    jQuery('.demo_changer').toggleClass("active");
                });
            }
        });

    </script>
</body>
</html>